body {
  background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 40px;
}

h3 {
	color: #95a5a6;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.notepad {
    margin-top: 80px;
}

.navbar {
     min-height: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
     border-radius: 0px;
     border-top-width: 10px;
     border-bottom-width: 10px;
}

.navbar-notepad {
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
}

.navbar-default {
    /*border-top: 3px solid #3498db;*/
    background-color: #3498db;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}


/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 200px;
}

i {
	margin: 8px;
	color: #3498db; 
}


/* HeaderWrap */
#headerwrap {
	background-color: #3498db;
	margin-top: -20px;
	padding-top:150px;
	background-position: center center;
	min-height: 650px;
	width: 100%;
    text-align:center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 80px;
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}

#headerwrap h2 {
    color: white;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-lg {
    padding: 8px 10px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 60px;
}

.top-buffer {
    margin-top:30px;
}

.input-group-addon, .input-group-btn {
    /*width: 0;*/
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.img-responsive {
    display: unset;
}


@media (max-width: 767px) {
    .form-control {
        height: 32px;
    }
    #headerwrap {
        padding-top:30px;
    }
    #headerwrap h1 {
        font-size: 30px;
    }
    .btn-lg {
        padding: 4px 10px;
    }
}
